<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Menu</title>
</head>

<body>
    <form action="@{Application.store_menu()}" name="makanan">
        <input type="hidden" name="makanan.id">
        Nama Makanan : <input type="text" name="makanan.nama_makanan">
        Harga : <input type="text" name="makanan.harga">
        Pemilik :
        <select name="makanan.pemilik_makanan_to_string" id="">
            #{list items:daftar, as:'x'}
            <option value="${x.nama_pemilik}">${x.nama_pemilik}</option>
            #{/list}
        </select>
        <input type="submit" name="submit" id="" value="Simpan">
    </form>
</body>

</html>