<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Menu</title>
</head>

<body>
    <form action="@{Application.store_menu()}" name="makananku">
        ID : <input type="text" name="makananku.id">
        Nama Makanan : <input type="text" name="makananku.nama_makanan">
        Harga : <input type="text" name="makananku.harga">
        Pemilik :
        <select name="makananku.makanan_jualan" id="">
            #{list items:daftar, as:'x'}
            <option value="${x.id}">${x.id}</option>
            #{/list}
        </select>
        <input type="submit" name="submit" id="" value="Simpan">
    </form>
</body>

</html>