<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Menu</title>
    <style>
        table {
            margin: auto;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h2>Tambah Menu</h2>
    <form action="@{Application.store_menu()}" name="makanan">
        <input type="hidden" name="makanan.id" value="${makanan_lama.id}">
        <table>
            <tr>
                <td>Nama Makanan</td>
                <td>:</td>
                <td><input type="text" name="makanan.nama_makanan" value="${makanan_lama.nama_makanan}"></td>
            </tr>
            <tr>
                <td>Harga</td>
                <td>:</td>
                <td><input type="text" name="makanan.harga" value="${makanan_lama.harga}"></td>
            </tr>
            <tr>
                <td>Pemilik</td>
                <td>:</td>
                <td>
                    <select name="makanan.pemilik_makanan_to_string" id="">

                        #{list items:daftar, as:'x'}
                        <option value="${x.nama_pemilik}" ${x.nama_pemilik==makanan_lama.pemilik_makanan_to_string
                            ? 'selected' : '' }>${x.nama_pemilik}
                        </option>
                        #{/list}
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="submit" name="submit" id="" value="Simpan"></td>
            </tr>
        </table>
    </form>
</body>

</html>