<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Pemilik</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        h1 {
            text-align: center;
        }

        table {
            margin: auto;
        }

        .menu,
        td,
        th {
            padding: 10px;
            border-collapse: collapse;
            border: 1px solid black;
            text-align: center;
        }

        .menu {
            width: 600px;
        }

        form {
            display: inline;
        }
    </style>
</head>

<body>
    <h1>Daftar Pemilik Makanan Kantin Kejujuran</h1>
    <table class="table menu">
        <thead>
            <tr class="table-primary">
                <th scope="col">
                    Nama Pemilik
                </th>
                <th scope="col">
                    No. Telepon
                </th>
                <th scope="col">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            #{list items:daftar, as:'x'}
            <tr class="table-secondary">
                <td>${x.nama_pemilik}</td>
                <td>${x.nomor_telepon}</td>
                <td>
                    <form action="@{Application.edit_pemilik(x.id)}" method="post">
                        <input type="submit" value="Edit" name="">
                    </form>
                    <form action="@{Application.delete_pemilik(x.id)}" method="post">
                        <input type="submit" value="Delete" name="">
                    </form>
                </td>
            </tr>
            #{/list}
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <form action="@{Application.create_pemilik()}">
                    <input type="submit" value="Tambah Pemilik" name="">
                </form>
            </td>
            <td>
                <form action="@{Application.index()}">
                    <input type="submit" value="Lihat Menu" name="">
                </form>
            </td>
        </tr>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>